
    <div class="row">
        <div class="col-sm-4 b-r">
            <h3 class="m-t-none m-b">Current icon</h3>

            <img class="channelImg" style="margin-left: 0; height: 96px; width: 96px;" src="rest/channel/image/{{channel.id}}"/>
            <img class="channelImg" style="height: 48px; width: 48px;" src="rest/channel/image/{{channel.id}}"/>
            <img class="channelImg" style="border-radius: 25%; height: 48px; width: 48px;" src="rest/channel/image/{{channel.id}}"/>
            <img class="channelImg" style="border-radius: 50%; height: 48px; width: 48px;" src="rest/channel/image/{{channel.id}}"/>
            <img class="channelImg" style="height: 32px; width: 32px;" src="rest/channel/image/{{channel.id}}"/>
            <img class="channelImg" style="border-radius: 50%; height: 32px; width: 32px;" src="rest/channel/image/{{channel.id}}"/>
        </div>
        <div class="col-sm-8">
            <h3 class="m-t-none m-b">Available icons</h3>

            <div style="border: solid 1px lightgrey; display: inline-block;  margin-right: 5px;" ng-repeat="imageOption in imageOptions">
                <div style="float: left;">
                    <img data-ng-src="{{ 'data:' + imageOption.type + ';base64,' + imageOption.data }}"  onclick="$('#crop').cropper('replace', this.src);" style="height: 48px;">
                </div>
                <div style="float: right; padding-left: 5px; padding-right: 5px; line-height: 15px;">
                    <b>{{ imageOption.source }}</b><br/>
                    <small style="">{{ imageOption.type }}<br/>
                    {{ imageOption.width }}px x {{ imageOption.height }}px</small>
                </div>
           </div>

            <hr/>

            <div id="cropWrapper" style="width: 50%; float: left;">
                <img id="crop">
            </div>

            <div id="previewWrapper" style="display: none;">
                <div class="win-preview channelImg" style="height: 96px; width: 96px;"></div>
                <div class="win-preview channelImg" style="height: 48px; width: 48px;"></div>
                <div class="win-preview channelImg" style="border-radius: 25%; height: 48px; width: 48px;"></div>
                <div class="win-preview channelImg" style="border-radius: 50%; height: 48px; width: 48px;"></div>
                <div class="win-preview channelImg" style="height: 32px; width: 32px;"></div>
                <div class="win-preview channelImg" style="border-radius: 50%; height: 32px; width: 32px;"></div>
            </div>

            <br style="clear: both"/>

            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-click="submit()"><strong>Save</strong></button>

            <script>
                $('#crop').cropper({
                    aspectRatio: 1,
                    autoCropArea: 1,
                    preview: '.win-preview',
                    checkImageOrigin: false,
                    built: function () {
                        $('#previewWrapper').show();
                    }
                });
            </script>

        </div>
    </div>
    <style>
        .channelImg {
            float: left;
            margin-bottom: 16px;
            margin-left: 16px;
            overflow: hidden;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        }

        .win-preview {
            float: right;
        }
    </style>
