<div ng-controller="ChannelCreatePrefillController">

<div class="alert alert-danger" ng-show="showPrefillError">
    An error happened while gathering channel information: <code ng-show="err.exceptionName" class="m-l-md">{{err.exceptionName}} : {{err.exceptionMessage}}</code>

    <br/><br/>

    <a class="btn btn-sm btn-danger" ng-show="err.stackTrace" ng-click="showStacktrace = !showStacktrace" ><i class="fa fa-info-circle"></i> Show stack trace</a>
    <a ui-sref="channel.new.details()" class="btn btn-sm btn-primary"><i class="fa fa-play"></i> Skip auto pre-fill</a>

    <pre ng-show="showStacktrace">{{err.stackTrace}}</pre>
</div>

<form class="form-horizontal" ng-submit="prefillDetailsForm()" name="cnFormHtml">
    <div class="form-group"><label class="col-md-2 control-label" for="form-canonical-name">Canonical name</label>
        <div class="col-md-10">
            <input type="text" required ng-minlength="3" ng-maxlength="255" id="form-canonical-name" placeholder="Canonical name" class="form-control" ng-model="cnForm.canonicalName" autocomplete="off">
            <span class="help-block m-b-none">Enter shortest possible canonical name, eg. <i>cnn.com</i>, or <i>reuters.com</i></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" type="submit" ng-disabled="cnFormHtml.$invalid">Next</button>
            <a class="btn btn-white" ui-sref="channel.new.details()">Skip auto pre-fill</a>
        </div>
    </div>
</form>

</div>