<form class="form-horizontal">
    <div class="form-group"><label class="col-md-2 control-label" for="form-canonical-name">CN</label>
        <div class="col-md-10"><input type="text" id="form-canonical-name" placeholder="Canonical name" class="form-control" ng-model="channel.canonicalName"></div>
    </div>

    <div class="form-group"><label class="col-md-2 control-label" for="form-title">Title</label>
        <div class="col-md-10"><input type="text" id="form-title" placeholder="Title" class="form-control" ng-model="channel.title"></div>
    </div>

    <div class="form-group"><label class="col-md-2 control-label" for="form-url">URL</label>
        <div class="col-md-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                <input type="url" id="form-url" ng-model="channel.url" placeholder="URL" class="form-control">
            </div>
        </div>
    </div>

    <div class="form-group"><label class="col-md-2 control-label">Scale</label>
        <div class="col-md-10">
            <div class="radio"><label> <input icheck type="radio" name="radioTest"> Global</label>
            <label class="m-l"> <input icheck type="radio" name="radioTest"> Regional</label>
            <label class="m-l"> <input icheck type="radio" name="radioTest"> Local</label></div>
        </div>
    </div>

    <div class="form-group"><label class="col-md-2 control-label" for="form-description">Description</label>
        <div class="col-md-10"><input type="text" id="form-description" placeholder="Description" class="form-control" ng-model="channel.description"></div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="form-group"><label class="col-md-2 control-label" for="form-facebook-id">Facebook ID</label>
       <div class="col-md-10">
           <div class="input-group">
               <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
               <input type="text" id="form-facebook-id" typeahead="fbpage as fbpage.username for fbpage in fbTypeAhead($viewValue)" typeahead-template-url="fbTypeAheadTemplate.html" ng-model="channel.facebookId" placeholder="Facebook ID" class="form-control">
           </div>
       </div>
    </div>

    <div class="form-group"><label class="col-md-2 control-label" for="form-twitter-id">Twiiter ID</label>
        <div class="col-md-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                <input type="text" id="form-twitter-id" ng-model="channel.twitterId" placeholder="Twitter ID" class="form-control">
            </div>
        </div>
    </div>

    <div class="form-group"><label class="col-md-2 control-label" for="form-google-plus-id">Google Plus ID</label>
        <div class="col-md-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                <input type="text" id="form-google-plus-id" ng-model="channel.googlePlusId" placeholder="Google Plus ID" class="form-control">
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="form-group"><label class="col-md-2 control-label" for="form-alexa-rank">Alexa Rank</label>
        <div class="col-md-10"><input type="number" id="form-alexa-rank" class="form-control" ng-model="channel.alexaRank"></div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-primary" type="submit">Save</button>
            <a ui-sref="channel.new.cn" class="btn btn-white">Back</a>
            <button class="btn btn-white">Reset</button>
        </div>
    </div>
</form>

<script type="text/ng-template" id="fbTypeAheadTemplate.html">
    <a>
        <img class="pull-left m-r-sm" ng-src="{{match.model.pictureUrl}}" height="50">

        <span>{{match.model.name}}</span> <span>{{match.model.website}}</span> (<span bind-html-unsafe="match.model.username | typeaheadHighlight:query"></span>)<br/>
        <span>{{match.model.category}}</span> <span>{{match.model.likes | number}} likes</span>
    </a>
</script>