    <div class="alert alert-danger" ng-show="showError">
        An error happened while saving feed:
        <code ng-show="err.exceptionName" class="m-l-md" style="white-space: normal">{{err.exceptionName}} : {{err.exceptionMessage}}</code>
        <br/><br/>
        <a class="btn btn-sm btn-danger" ng-show="err.stackTrace" ng-click="showStacktrace = !showStacktrace" ><i class="fa fa-info-circle"></i> Show stack trace</a>
        <pre ng-show="showStacktrace">{{err.stackTrace}}</pre>
    </div>

    <form id="feed-form" class="form-horizontal" ng-submit="saveForm()">

        <input type="hidden" ng-model="feed.id">

        <div class="form-group" id="f-url"><label class="col-md-2 control-label" for="form-url">URL</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><a ng-class="feed.url ? 'text-success' : 'disabled'" ng-href="{{feed.url}}" target="_blank"><i class="fa fa-rss"></i></a></span>
                    <input type="url" id="form-url" ng-model="feed.url" placeholder="URL" class="form-control" required>
                </div>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group" id="f-name">
            <label class="col-md-2 control-label" for="form-name">Name</label>

            <div class="col-md-10">
                <input type="text" id="form-name" placeholder="Name" class="form-control" ng-model="feed.name" required>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group" id="f-link"><label class="col-md-2 control-label" for="form-link">Link</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><a ng-class="feed.link ? 'text-success' : 'disabled'" ng-href="{{feed.link}}" target="_blank"><i class="fa fa-globe"></i></a></span>
                    <input type="url" id="form-link" ng-model="feed.link" placeholder="Link (Page URL)" class="form-control" required>
                </div>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="form-group" id="f-channelId"><label class="col-md-2 control-label" for="form-channel-id">Channel</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon">{{feed.channelId}}</span>
                    <input type="text" autocomplete="off" id="form-channel-id"  typeahead-on-select="feed.channelId = channelBox.id" typeahead="channel as channel.canonicalName for channel in channelTypeAhead($viewValue)" typeahead-template-url="channelTypeAheadTemplate.html" ng-model="channelBox" placeholder="Channel" class="form-control" required>
                </div>

                <span class="help-block m-b-none"></span>
            </div>
        </div>


        <div class="form-group" id="f-areaId"><label class="col-md-2 control-label" for="form-area">Area</label>
            <div class="col-md-10">
                <select id="form-area" class="form-control" ng-model="feed.areaId" required>
                    <option ng-repeat="a in areas" ng-selected="{{a.id == feed.areaId}}" value="{{a.id}}">{{addSpaces(a.level)}}{{a.name}}</option>
                </select>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group" id="f-topicId"><label class="col-md-2 control-label" for="form-area">Topic</label>
            <div class="col-md-10">
                <select id="form-topic" class="form-control" ng-model="feed.topicId" required>
                    <option ng-repeat="t in topics" ng-selected="{{t.id == feed.topicId}}" value="{{t.id}}">{{addSpaces(t.level)}}{{t.name}}</option>
                </select>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group" id="f-is-video"><label class="col-md-2 control-label">Video Feed</label>
            <div class="col-md-10">
                <div class="radio">
                    <label> <input type="radio" name="isVideo" ng-model="feed.video" ng-value="true"> Yes</label>
                    <label class="m-l"> <input type="radio" name="isVideo" ng-model="feed.video" ng-value="false"> No</label>
                </div>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="form-group" id="f-author">
            <label class="col-md-2 control-label" for="form-author">Author</label>

            <div class="col-md-10">
                <input type="text" id="form-author" placeholder="Author" class="form-control" ng-model="feed.author" >
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group" id="f-copyright">
            <label class="col-md-2 control-label" for="form-copyright">Copyright</label>

            <div class="col-md-10">
                <input type="text" id="form-copyright" placeholder="Copyright" class="form-control" ng-model="feed.copyright" >
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="form-group" id="f-imageUrl"><label class="col-md-2 control-label" for="form-image-url">Image URL</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><a ng-class="feed.imageUrl ? 'text-success' : 'disabled'" ng-href="{{feed.imageUrl}}" target="_blank"><i class="fa fa-image"></i></a></span>
                    <input type="url" id="form-image-url" ng-model="feed.imageUrl" placeholder="Image URL" class="form-control">
                </div>
                <span class="help-block m-b-none"></span>
            </div>
        </div>


        <div class="form-group" id="f-description"><label class="col-md-2 control-label" for="form-description">Description</label>
            <div class="col-md-10">
                <textarea id="form-description" placeholder="Description" class="form-control" maxlength="255" ng-model="feed.description"></textarea>
                <span class="help-block m-b-none"></span>
            </div>
        </div>

        <div class="hr-line-dashed"></div>


        <div class="form-group" id="f-last-check">
            <label class="col-md-2 control-label" >Last crawled</label>

            <div class="col-md-10">
                <p class="form-control-static">{{(feed.lastCheck | date:'yyyy-MM-dd HH:mm:ss ') || "Unknown"}}</p>
            </div>
        </div>

        <div class="form-group" id="f-planned-check"><label class="col-md-2 control-label">Planned check</label>
            <div class="col-md-10">
                <p class="form-control-static">{{(feed.plannedCheck | date:'yyyy-MM-dd HH:mm:ss ') || "Unknown"}}</p>
            </div>
        </div>

        <div class="form-group" id="f-current-velocity">
            <label class="col-md-2 control-label">Current velocity</label>

            <div class="col-md-10">
                <p class="form-control-static">{{velocityTxt}}</p>
            </div>
        </div>

        <div class="form-group" id="f-velocity"><label class="col-md-2 control-label">Crawling velocity</label>
            <div class="col-md-10">
                <div id="velocity_range"></div>
            </div>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" type="submit">Save</button>
                <button back class="btn btn-white">Back</button>
                <button class="btn btn-white" type="button" ng-click="reset()">Reset</button>
            </div>
        </div>
    </form>

    <script type="text/ng-template" id="channelTypeAheadTemplate.html">
        <a>
            <img class="pull-left m-r-sm" style="height: 48px; width: 48px; border-radius: 50%; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);" src="rest/channel/image/{{match.model.id}}"/>
            {{match.model.title}}<br/>
            <span bind-html-unsafe="match.model.canonicalName | typeaheadHighlight:query"></span>
        </a>
    </script>