<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/news-test</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <mapping class="nl.rostykerei.news.domain.Channel" />
        <mapping class="nl.rostykerei.news.domain.Category" />
        <mapping class="nl.rostykerei.news.domain.Feed" />
        <mapping class="nl.rostykerei.news.domain.Story"/>
        <mapping class="nl.rostykerei.news.domain.Tag"/>
        <mapping class="nl.rostykerei.news.domain.TagAlternative"/>
        <mapping class="nl.rostykerei.news.domain.TagAmbiguous"/>
    </session-factory>
</hibernate-configuration>