<?xml version='1.0' encoding='utf-8'?>
<!--

    Robonews.io

    Copyright (c) 2013-2015 Rosty Kerei.
    All rights reserved.

-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="io.robonews.domain.Channel" />
        <mapping class="io.robonews.domain.ChannelPicture" />
        <mapping class="io.robonews.domain.Category" />
        <mapping class="io.robonews.domain.Feed" />
        <mapping class="io.robonews.domain.Story"/>
        <mapping class="io.robonews.domain.Tag"/>
        <mapping class="io.robonews.domain.TagAlternative"/>
        <mapping class="io.robonews.domain.StoryTag"/>
        <mapping class="io.robonews.domain.Image"/>
        <mapping class="io.robonews.domain.StoryImage"/>
        <mapping class="io.robonews.domain.ImageCopy"/>
    </session-factory>
</hibernate-configuration>